@using QuanLyKetQuaHocTap.Models;

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/Template_Frame/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Content/Template_Frame/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Template_Frame/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/Content/Template_Frame/css/frame.css">

    <title>@ViewBag.Title</title>
</head>
<body>


    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

        <div class="container">
            <div class="row align-items-center position-relative">


                <div class="col-12">
                    <nav class="site-navigation text-right ml-auto " role="navigation">

                        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                            <li><a href="@Url.Action("DangNhap")" class="nav-link">Đăng nhập</a></li>
                            <li><a href="@Url.Action("DangKy")" class="nav-link">Đăng ký</a></li>
                        </ul>
                    </nav>

                </div>

                <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

            </div>
        </div>

    </header>

    <div class="hero" style="background-image: url('~/Content/Template_Frame/images/hero_1.jpg');">
        @RenderBody()
    </div>



    <script src="~/Content/Template_Frame/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Template_Frame/js/popper.min.js"></script>
    <script src="~/Content/Template_Frame/js/bootstrap.min.js"></script>
    <script src="~/Content/Template_Frame/js/jquery.sticky.js"></script>
    <script src="~/Content/Template_Frame/js/main.js"></script>

    <script>
    function isRightFormat(str) {
        for (var i = 0; i < str.length; i++) {
            if (!str[i].match(/[a-z]/i) && !str[i].match(/[0-9]/i) && str[i] != '_') {
                return false;
            }
        }
        return true;
    }

    function login() {
        var userName = document.getElementById('userName');
        var password = document.getElementById('password');
        var ok = true;
        var errorUserName = document.getElementById('errorUserName');
        if (errorUserName != undefined) {
            errorUserName.remove();
        }
        var errorPassword = document.getElementById('errorPassword');
        if (errorPassword != undefined) {
            errorPassword.remove();
        }
        var userNameBlock = document.getElementById('userNameBlock');
        if (userName.value == null || userName.value == '') {
            userNameBlock.innerHTML += `<p class="small fw-bold mt-2 pt-1 mb-0" style="color: red" id="errorUserName">**Lỗi: Vui lòng nhập tên đăng nhập</p>`;
            ok = false;
        }
        else if (!isRightFormat(userName.value)) {
            userNameBlock.innerHTML += `<p class="small fw-bold mt-2 pt-1 mb-0" style="color: red" id="errorUserName">**Lỗi: tên đăng nhập không đúng định dạng</p>`;
            ok = false;
        }

        var passwordBlock = document.getElementById('passwordBlock');
        if (password.value == null || password.value == '') {
            passwordBlock.innerHTML += `<p class="small fw-bold mt-2 pt-1 mb-0" style="color: red" id="errorPassword">**Lỗi: Vui lòng nhập mật khẩu</p>`;
            ok = false;
        }
        else if (!isRightFormat(password.value)) {
            passwordBlock.innerHTML += `<p class="small fw-bold mt-2 pt-1 mb-0" style="color: red" id="errorPassword">**Lỗi: Mật khẩu không đúng định dạng</p>`;
            ok = false;
        }

        if (ok) {
            const url = new URL('@Url.Action("KiemTraDangNhap", "DangNhap")', location.origin);
            url.searchParams.set('userName', userName.value);
            url.searchParams.set('password', password.value);
            window.location = url.href;
        }
    }
    </script>
</body>
</html>