@using QuanLyKetQuaHocTap.Models;
@model tb_DanhGiaRenLuyen

<style>

    th {
        text-align: center;
        background-color: steelblue;
        color: white;
    }

    .tieude {
        background-color: lightblue;
    }

    .stt {
        text-align: center;
    }
</style>

<table class="table-bordered" cellpadding="5">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th class="tieuchi">
                Nội dung tiêu chí đánh giá
            </th>
            <th>
                Điểm tối đa
            </th>
            <th>
                Điểm tự đánh giá
            </th>
            <th>
                Điểm CVHT
            </th>
            @{
                if (Model.DiemTongKhoaDG != null)
                {
                    <th>
                        Điểm khoa
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var tieuchi in Model.tb_NoiDungDGRL.tb_TieuChiDGRL.OrderBy(n => n.STT))
            {
                int? tongDiemTuDG = 0, tongDiemCV = 0, tongDiemKhoa = 0;
                foreach (var chitiet in tieuchi.tb_ChiTietTieuChiDGRL)
                {
                    var ctdg = Model.tb_ChiTietDGRL.FirstOrDefault(n => n.ID_ChiTietTieuChiDGRL == chitiet.ID);
                    if (ctdg != null)
                    {
                        tongDiemTuDG += ctdg.DiemTuDG;
                        tongDiemCV += ctdg.DiemCVHT;
                        tongDiemKhoa += ctdg.DiemKhoa;
                    }
                }
                <tr>
                    <td class="tieude stt">
                        @tieuchi.STT
                    </td>
                    <td class="tieude tieuchi">
                        @tieuchi.NoiDung
                    </td>
                    <td class="tieude">
                        @tieuchi.DiemToiDa
                    </td>
                    <td class="tieude">
                        @tongDiemTuDG
                    </td>
                    <td class="tieude">
                        @tongDiemCV
                    </td>
                    <td class="tieude">
                        @tongDiemKhoa
                    </td>
                </tr>
                foreach (var chitiet in tieuchi.tb_ChiTietTieuChiDGRL.OrderBy(n => n.STT))
                {
                    var ctdg = Model.tb_ChiTietDGRL.FirstOrDefault(n => n.ID_ChiTietTieuChiDGRL == chitiet.ID);
                    int? diemTuDG = null, diemCVHT = null, diemKhoa = null;
                    if (ctdg != null)
                    {
                        diemTuDG = ctdg.DiemTuDG;
                        diemCVHT = ctdg.DiemCVHT;
                        diemKhoa = ctdg.DiemKhoa;
                    }
                    <tr>
                        <td class="stt">
                            @tieuchi.STT.@chitiet.STT
                        </td>
                        <td>
                            @chitiet.NoiDung
                        </td>
                        <td>
                            @chitiet.DiemToiDa
                        </td>
                        <td>
                            @{
                                if (Model.TrangThai == General.daHoanThanhDGRL || (int)ViewBag.LoaiTK != General.intTaiKhoanSV)
                                {
                                    @diemTuDG
                                }
                                else
                                {
                                    <input name="diemTuDG-@tieuchi.ID-@chitiet.ID" type="number" value="@diemTuDG" />
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (Model.TrangThai == General.daHoanThanhDGRL || (int)ViewBag.LoaiTK != General.intTaiKhoanGV || Model.DiemTongKhoaDG != null)
                                {
                                    @diemCVHT
                                }
                                else
                                {
                                    <input name="diemCVHT-@tieuchi.ID-@chitiet.ID" type="number" value="@diemCVHT" />
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (Model.DiemTongKhoaDG != null)
                                {
                                    if (Model.TrangThai == General.daHoanThanhDGRL || (int)ViewBag.LoaiTK != General.intTaiKhoanQT)
                                    {
                                        @diemKhoa
                                    }
                                    else
                                    {
                                        <input name="diemKhoa-@tieuchi.ID-@chitiet.ID" type="number" value="@diemKhoa" />
                                    }
                                }
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<hr />
<p class="text-black-50"><b>Điểm tổng tự đánh giá: @Model.DiemTongTuDG</b></p>
<p class="text-black-50"><b>Điểm tổng cố vấn đánh giá: @Model.DiemTongCVDG</b></p>
<p class="text-black-50"><b>Điểm tổng khoa đánh giá: @Model.DiemTongKhoaDG</b></p>
