@using QuanLyKetQuaHocTap.Models;
@model tb_CTGD
@{
    ViewBag.Title = "Xem chương trình đạo tạo " + Model.TenCT;
    Layout = "~/Views/GiangVien/_LayoutGiangVien.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">


@{

    var gv = ((tb_TaiKhoan)Session["TK"]).tb_GiangVien.First();

    <div class="card-header">
        <div class="input-group">
            <input type="hidden" id="id" value="@Model.ID" />
            <input type="search" id="search" class="form-control rounded" placeholder="Nhập từ khoá" aria-label="Search" aria-describedby="search-addon" />

            <button style="margin-left: 10px" type="button" class="btn btn-outline-primary" data-mdb-ripple-init onclick="search()">Tìm kiếm</button>
        </div>
    </div>
    <div class="card-body">
        <h4 class="text-center">Chương trình @Model.TenCT (@Model.MaCT)</h4>
        <h5 class="spec-1 text-center">Số môn: @Model.tb_MonHoc.Count()</h5>
        <br />
        <div id="dsmh">
            @Html.Action("DanhSachMonHoc_Partial", new { id = Model.ID })
        </div>
    </div>
}


<script>
    function search() {
        var s = document.getElementById('search').value;
        var id = Number.parseInt(document.getElementById('id').value);
        const url = new URL('@Url.Action("DanhSachMonHoc_Partial", "GiangVien")', location.origin);
        url.searchParams.set('keyword', s)
        url.searchParams.set('id', id)
        $('#dsmh').load(url.href);
    }
    var searchBar = document.getElementById('search');
    searchBar.addEventListener("keypress", function (event) {
        if (event.keyCode === 13 || event.key === "Enter") {
            search();
        }
    });
</script>

