@using QuanLyKetQuaHocTap.Models;
@model IEnumerable<tb_SinhVien>
@{
    ViewBag.Title = "Chi tiết lớp học cố vấn";
    Layout = "~/Views/GiangVien/_LayoutGiangVien.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/Content/Template_List/dslhcv.css" />


@{
    var gv = ((tb_TaiKhoan)Session["TK"]).tb_GiangVien.First();
    var lh = (tb_CoVanHocTap)ViewBag.lh;

    <div class="container" style="margin-top: 20px">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        @Html.Action("HienThiThongTinCaNhan_Partial", new { id = gv.ID })
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="hidden" id="id" value="@lh.ID" />
                                <input type="search" id="search" class="form-control rounded" placeholder="Nhập từ khoá" aria-label="Search" aria-describedby="search-addon" />

                                <button style="margin-left: 10px" type="button" class="btn btn-outline-primary" data-mdb-ripple-init onclick="search()">Tìm kiếm</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="text-center">Thông tin lớp học mã @lh.MaLop</h3>
                            <h3 class="spec-1 text-center">Ngành: @lh.tb_Nganh.TenNganh (@lh.tb_Nganh.MaNganh)</h3>
                            <h3 class="spec-1 text-center">Sỉ số: @Model.Count()</h3>
                        </div>
                        <div class="card-header">
                        </div>

                        <div class="card-body">
                            <div class="container mt-5 mb-5">
                                <div class="d-flex justify-content-center row">
                                    <div class="col-md-9">
                                        <div id="dssv">
                                            @Html.Action("DanhSachSV_Partial", new { id = lh.ID, type = 2 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    function search() {
        var s = document.getElementById('search').value;
        var id = Number.parseInt(document.getElementById('id').value);
        const url = new URL('@Url.Action("DanhSachSV_Partial", "GiangVien")', location.origin);
        url.searchParams.set('keyword', s)
        url.searchParams.set('type', 2)
        url.searchParams.set('id', id)
        $('#dssv').load(url.href);
    }
    var searchBar = document.getElementById('search');
    searchBar.addEventListener("keypress", function (event) {
        if (event.keyCode === 13 || event.key === "Enter") {
            search();
        }
    });
</script>

