@using QuanLyKetQuaHocTap.Models;
@model IEnumerable<tb_SinhVien>
@{
    ViewBag.Title = "Chi tiết lớp học cố vấn";
    Layout = "~/Views/GiangVien/_LayoutGiangVien.cshtml";
}
<link rel="stylesheet" href="~/Content/Template_List/dslhcv.css" />


@{
    var gv = ((tb_TaiKhoan)Session["TK"]).tb_GiangVien.First();
    var lh = (tb_CoVanHocTap)ViewBag.lh;

    <div class="container" style="margin-top: 20px">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        @Html.Action("HienThiThongTinCaNhan_Partial", new { id = gv.ID })
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center">Thông tin lớp học mã @lh.MaLop</h3>
                            <h3 class="spec-1 text-center">Ngành: @lh.tb_Nganh.TenNganh (@lh.tb_Nganh.MaNganh)</h3>
                            <h3 class="spec-1 text-center">Sỉ số: @Model.Count()</h3>
                        </div>
                        <div class="card-header">
                        </div>

                        <div class="card-body">
                            <div class="container mt-5 mb-5">
                                <div class="d-flex justify-content-center row">
                                    <div class="col-md-9">
                                        @{
                                            foreach (var item in Model)
                                            {
                                                <div class="row p-2 bg-white border rounded">
                                                    <div class="col-md-3 mt-1">
                                                        <a href="@Url.Action("XemThongTinSV", "GiangVien", new { id = item.ID })">
                                                            @{
                                                                if (item.GioiTinh == General.gioiTinhNam)
                                                                {
                                                                    <img class="img-fluid img-responsive rounded product-image" src="~/assets/imgs/student_male.jpg">
                                                                }
                                                                else
                                                                {
                                                                    <img class="img-fluid img-responsive rounded product-image" src="~/assets/imgs/student_female.jpg">
                                                                }
                                                            }
                                                        </a>
                                                    </div>
                                                    <div class="col-md-8 mt-1">
                                                        <h5>@item.MaSV - @item.HoTen</h5>
                                                        <div class="mt-1 mb-1 spec-1">Ngày sinh: @General.getStrFormatDate(item.NgaySinh)</div>
                                                        <div class="mt-1 mb-1 spec-1">Email: @item.Email</div>
                                                        <div class="mt-1 mb-1 spec-1">SĐT: @item.SDT</div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


