@using QuanLyKetQuaHocTap.Models;
@{
    ViewBag.Title = "Chương trình đào tạo";
    Layout = "~/Views/SinhVien/_LayoutSinhVien.cshtml";
}

<style>
    .title {
        background-color: cadetblue;
        padding-left: 30px;
        color: white;
        font-weight: 800;
    }

    .success {
        color: deepskyblue;
        text-align: center;
        font-weight: 500;
    }

    .fail {
        color: red;
        text-align: center;
        font-weight: 500;
    }

    .foot {
        text-align: left;
    }

    .foot-text {
        font-weight: 400;
        color: darkolivegreen;
    }

    th {
        min-width: 125px;
        text-align: center;
        user-select: none;
        background-color: darkslateblue;
        color: white;
    }

    .long {
        min-width: 500px;
    }

    table {
    }

    .stt {
        text-align: center;
    }
    .number {
        text-align: center;
    }
</style>

@{
    var sv = ((tb_TaiKhoan)Session["TK"]).tb_SinhVien.First();
    <div class="container" style="margin-top: 20px">
        <div class="main-body">

        </div>

    </div>


    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Xem chương trình đào tạo ngành @sv.tb_Nganh.MaNganh - @sv.tb_Nganh.TenNganh</h3>
            @*
                <h3 class="spec-1 text-center">Trạng thái: @hp.TrangThai</h3>*@
        </div>
        <div class="card-header">
        </div>

        <div class="card-body">
            <table class="table-bordered" cellpadding="5">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã MH</th>
                        <th class="long">Tên MH</th>
                        <th>
                            Số TC
                        </th>
                        <th>
                            Môn bắt buộc
                        </th>
                        <th>
                            Đã học
                        </th>
                        <th>
                            Tổng tiết
                        </th>
                        <th>
                            Lý thuyết
                        </th>
                        <th>
                            Thực hành
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        var maxHK = sv.tb_Nganh.tb_MonHoc.Max(n => n.HocKi);
                        var maxNam = sv.tb_Nganh.tb_MonHoc.Max(n => n.Nam);
                        for (int i = 1; i <= maxNam; i++)
                        {
                            for (int j = 1; j <= maxHK; j++)
                            {
                                int stt = 1;
                                var mh = sv.tb_Nganh.tb_MonHoc.Where(n => n.Nam == i && n.HocKi == j);
                                if (mh.Count() != 0)
                                {
                                    <tr>
                                        <td class="title" colspan="10">Học kì @j - Năm @i</td>
                                    </tr>
                                    foreach (var item in mh)
                                    {
                                        <tr>
                                            <td class="stt">@stt</td>
                                            <td>@item.MaMH</td>
                                            <td>@item.TenMH</td>
                                            <td class="number">@item.SoTC</td>
                                            @{
                                                if (item.BatBuoc == General.batBuoc)
                                                {
                                                    <td class="success">
                                                        X
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                                if (sv.tb_DiemHocPhan.FirstOrDefault(n => n.tb_HocPhan.ID_MonHoc == item.ID) != null)
                                                {
                                                    <td class="success">
                                                        X
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                            <td class="number">@(item.SoTietLT + item.SoTietTH)</td>
                                            @{
                                                if (item.LoaiMonHoc == General.intLyThuyet)
                                                {
                                                    <td class="number">@item.SoTietLT</td>
                                                    <td></td>
                                                }
                                                else if (item.LoaiMonHoc == General.intThucHanh)
                                                {
                                                    <td></td>
                                                    <td class="number">@item.SoTietTH</td>
                                                }
                                                else
                                                {
                                                    <td class="number">@item.SoTietLT</td>
                                                    <td class="number">@item.SoTietTH</td>
                                                }
                                            }
                                        </tr>
                                        stt++;
                                    }
                                }
                            }
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>

}

