@using QuanLyKetQuaHocTap.Models;
@model IEnumerable<tb_HocPhan>

@{
    ViewBag.Title = "Học phần đăng ký của bạn";
    Layout = "~/Views/SinhVien/_LayoutSinhVien.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/Content/Template_List/dslhcv.css" />

@{
    var sv = ((tb_TaiKhoan)Session["TK"]).tb_SinhVien.First();
    var hp = (IEnumerable<tb_HocPhan>)ViewBag.HPCH;
    <div class="container" style="margin-top: 20px">

        <div class="card">
            <div class="card-header">

                <div class="input-group">
                    <input hidden id="namHK" value="@sv.tb_CoVanHocTap.Nam_HT-@sv.tb_CoVanHocTap.HocKi_HT" />
                    <input type="search" id="searchHT" class="form-control rounded" placeholder="Nhập từ khoá" aria-label="Search" aria-describedby="search-addon" />

                    <button style="margin-left: 10px" type="button" class="btn btn-outline-primary" data-mdb-ripple-init onclick="searchHT()">Tìm kiếm</button>
                </div>
            </div>
            <div class="card-body">
                <h3 class="text-center">Học phần học kì hiện tại</h3>
                <h3 class="spec-1 text-center">Số lượng: @Model.Count()</h3>
            </div>
            <div class="card-header">
            </div>
            <div class="card-body">
                <div class="container mt-3 mb-5">
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-9">
                            <div id="dshpht">
                                @Html.Action("DanhSachHocPhan_Partial", new { nam = sv.tb_CoVanHocTap.Nam_HT, hocKi = sv.tb_CoVanHocTap.HocKi_HT });
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header"></div>

        <div class="card-body">
            <h4 class="text-center">Danh sách học phần cũ hơn</h4>
            <select id="hockiVaNam">
                @{
                    int selectHK = -1;
                    int selectNam = -1;
                    int maxHocKi = sv.tb_DiemHocPhan.Max(n => n.HocKi_DK).GetValueOrDefault();
                    int maxNam = sv.tb_DiemHocPhan.Max(n => n.NamHoc_DK).GetValueOrDefault();
                    for (int i = maxNam; i >= 1; i--)
                    {
                        for (int j = maxHocKi; j >= 1; j--)
                        {
                            if (i == sv.tb_CoVanHocTap.Nam_HT && j == sv.tb_CoVanHocTap.HocKi_HT)
                            {
                                continue;
                            }
                            if (sv.tb_DiemHocPhan.FirstOrDefault(n => n.HocKi_DK == j && n.NamHoc_DK == i) != null)
                            {
                                <option value="@i-@j">Học kì @j - Năm @i</option>
                                if (selectHK == -1)
                                {
                                    selectHK = j;
                                    selectNam = i;
                                }
                            }
                        }
                    }
                }
            </select>
        </div>
        <div class="card-header">

            <div class="input-group">
                <input type="search" id="search" class="form-control rounded" placeholder="Nhập từ khoá" aria-label="Search" aria-describedby="search-addon" />

                <button style="margin-left: 10px" type="button" class="btn btn-outline-primary" data-mdb-ripple-init onclick="search()">Tìm kiếm</button>
            </div>
        </div>
        <div class="card-body">
            <div class="container mt-3 mb-5">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-9">
                        <div id="dshp">
                            @{
                                if (selectHK != -1)
                                {
                                    @Html.Action("DanhSachHocPhan_Partial", new { nam = selectNam, hocKi = selectHK });
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    var selectElement = document.getElementById("hockiVaNam");

    // Đăng ký sự kiện thay đổi
    selectElement.addEventListener("change", function (event) {
        // Lấy giá trị đã chọn trong select
        var s = document.getElementById('search').value;
        var hkNam = event.target.value.split('-');
        const url = new URL('@Url.Action("DanhSachHocPhan_Partial", "SinhVien")', location.origin);
        url.searchParams.set('nam', Number.parseInt(hkNam[1]));
        url.searchParams.set('hocKi', Number.parseInt(hkNam[0]));
        url.searchParams.set('keyword', s)
        $('#dshp').load(url.href);

    });

    function searchHT() {
        var s = document.getElementById('searchHT').value;
        var namHK = document.getElementById('namHK').value.split('-');
        var hk = Number.parseInt(namHK[1]);
        var nam = Number.parseInt(namHK[0]);
        const url = new URL('@Url.Action("DanhSachHocPhan_Partial", "SinhVien")', location.origin);
        url.searchParams.set('nam', nam);
        url.searchParams.set('hocKi', hk);
        url.searchParams.set('keyword', s)
        $('#dshpht').load(url.href);
    }
    function search() {
        var s = document.getElementById('search').value;
        var hkNam = selectElement.value.split('-');
        const url = new URL('@Url.Action("DanhSachHocPhan_Partial", "SinhVien")', location.origin);
        url.searchParams.set('nam', Number.parseInt(hkNam[0]));
        url.searchParams.set('hocKi', Number.parseInt(hkNam[1]));
        url.searchParams.set('keyword', s)
        $('#dshp').load(url.href);
    }

    var searchHTBar = document.getElementById('searchHT');
    var searchBar = document.getElementById('search');
    searchBar.addEventListener("keypress", function (event) {
        // Sử dụng keyCode hoặc key để kiểm tra xem có phải là phím Enter không
        if (event.keyCode === 13 || event.key === "Enter") {
            search(); // Gọi hàm của bạn ở đây
        }
    });
    searchHTBar.addEventListener("keypress", function (event) {
        // Sử dụng keyCode hoặc key để kiểm tra xem có phải là phím Enter không
        if (event.keyCode === 13 || event.key === "Enter") {
            searchHT(); // Gọi hàm của bạn ở đây
        }
    });
</script>
