@using QuanLyKetQuaHocTap.Models;
@model IEnumerable<tb_DiemHocPhan>
@{
    ViewBag.Title = "Xem điểm";
    Layout = "~/Views/SinhVien/_LayoutSinhVien.cshtml";
}

<style>
    .title {
        background-color: cadetblue;
        padding-left: 30px;
        color: white;
        font-weight: 800;
    }

    .success {
        color: deepskyblue;
        text-align: center;
        font-weight: 500;
    }

    .fail {
        color: red;
        text-align: center;
        font-weight: 500;
    }

    .foot {
        text-align: left;
    }

    .foot-text {
        font-weight: 400;
        color: darkolivegreen;
    }

    th {
        min-width: 110px;
        text-align: center;
        user-select: none;
        background-color: darkslateblue;
        color: white;
    }

    .long {
        min-width: 500px;
    }

    table {
    }

    .stt {
        text-align: center;
    }

    .number {
        text-align: center;
    }
</style>

@{
    var sv = ((tb_TaiKhoan)Session["TK"]).tb_SinhVien.First();

    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Xem điểm</h3>
            @*
                <h3 class="spec-1 text-center">Trạng thái: @hp.TrangThai</h3>*@
        </div>
        <div class="card-header">
        </div>

        <div class="card-body">
            <table class="table-bordered" cellpadding="5">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã MH</th>
                        <th class="long">Tên MH</th>
                        <th>
                            Số TC
                        </th>
                        <th>
                            Điểm GK
                        </th>
                        <th>
                            Điểm CK
                        </th>
                        <th>
                            Điểm TK (10)
                        </th>
                        <th>
                            Điểm TK (4)
                        </th>
                        <th>
                            Xếp loại
                        </th>
                        <th>
                            Kết quả
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        int maxNam = (int)sv.tb_DiemHocPhan.Max(n => n.NamHoc_DK);
                        int maxHocKi = (int)sv.tb_DiemHocPhan.Max(n => n.HocKi_DK);
                        for (int i = maxNam; i >= 1; i--)
                        {
                            for (int j = maxHocKi; j >= 1; j--)
                            {
                                var diemHP = Model.Where(n => n.NamHoc_DK == i && n.HocKi_DK == j);
                                if (diemHP.Count() != 0)
                                {
                                    <tr>
                                        <td class="title" colspan="10">Học kì @j - Năm @i</td>
                                    </tr>
                                    int stt = 1;
                                    int? soTCDat = 0;
                                    foreach (var item in diemHP)
                                    {
                                        var diemtb = General.getDiemTB(item.tb_HocPhan.tb_MonHoc.TrongSoGiuaKi, item.DiemGK, item.DiemCK);
                                        var xl = General.getXepLoaiDiemHP(diemtb);
                                        bool kq = xl != "F";
                                        <tr>
                                            <td class="stt">@stt</td>
                                            <td>@item.tb_HocPhan.tb_MonHoc.MaMH</td>
                                            <td>@item.tb_HocPhan.tb_MonHoc.TenMH</td>
                                            <td class="number">@item.tb_HocPhan.tb_MonHoc.SoTC</td>
                                            @{
                                                if (item.tb_HocPhan.tb_MonHoc.XetDiem == General.coXetDiem)
                                                {
                                                    <td class="number">@item.DiemGK (@item.tb_HocPhan.tb_MonHoc.TrongSoGiuaKi%)</td>
                                                    <td class="number">@item.DiemCK (@(100 - item.tb_HocPhan.tb_MonHoc.TrongSoGiuaKi)%)</td>
                                                }
                                                else
                                                {
                                                    <td class="number"></td>
                                                    if (item.DiemCK == General.intDat)
                                                    {
                                                        xl = "DT";
                                                        <td class="number">@xl</td>
                                                    }
                                                    else
                                                    {
                                                        xl = "CD";
                                                        <td class="number">@xl</td>
                                                    }
                                                }
                                            }
                                            <td class="number">@diemtb</td>
                                            <td class="number">@General.getDiemTBHe4(diemtb)</td>
                                            <td class="number">@xl</td>
                                            @{
                                                if (kq)
                                                {
                                                    <td class="success">
                                                        V
                                                    </td>
                                                    soTCDat += item.tb_HocPhan.tb_MonHoc.SoTC;
                                                }
                                                else
                                                {
                                                    <td class="fail">
                                                        X
                                                    </td>
                                                }
                                            }
                                        </tr>
                                        stt++;
                                    }
                                    <tr>
                                        <td class="foot" colspan="10">
                                            <p class="foot-text">
                                                - Điểm trung bình học kì 10: <b>@General.getDiemTBHocKiSV(sv.ID, i, j)</b> | Điểm trung bình tích luỹ 10: <b>@General.getDiemTBTichLuySV(sv.ID, i, j)</b>
                                                <br />
                                                - Số tín chỉ đạt học kỳ: <b>@General.getTongTCHocKiSV(sv.ID, i, j)</b> | Số tín chỉ tích luỹ: <b>@General.getTongTCTichLuySV(sv.ID, i, j)</b>
                                            </p>
                                        </td>
                                    </tr>

                                }
                            }

                        }
                    }

                </tbody>
            </table>
        </div>
    </div>

}

