@using QuanLyKetQuaHocTap.Models;
@model tb_HocPhan
@{
    ViewBag.Title = "Xem học phần " + Model.MaHP + " - " + Model.tb_MonHoc.TenMH;
    Layout = "~/Views/SinhVien/_LayoutSinhVien.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .title {
        background-color: cadetblue;
        padding-left: 30px;
        color: white;
        font-weight: 800;
    }

    .success {
        color: deepskyblue;
        text-align: center;
        font-weight: 500;
    }

    .fail {
        color: red;
        text-align: center;
        font-weight: 500;
    }

    .foot {
        text-align: left;
    }

    .foot-text {
        font-weight: 400;
        color: darkolivegreen;
    }

    th {
        min-width: 110px;
        text-align: center;
        user-select: none;
        background-color: darkslateblue;
        color: white;
    }

    .long {
        min-width: 500px;
    }

    table {
    }

    .stt {
        text-align: center;
    }

    .number {
        text-align: center;
    }
</style>



<div class="container" style="margin-top: 20px">
    <div class="main-body">
        <div class="card">

            <div class="card-header">

                <div class="input-group">
                    <input id="id" type="hidden" value="@Model.ID" />
                    <input type="search" id="search" class="form-control rounded" placeholder="Nhập từ khoá" aria-label="Search" aria-describedby="search-addon" />

                    <button style="margin-left: 10px" type="button" class="btn btn-outline-primary" data-mdb-ripple-init onclick="search()">Tìm kiếm</button>
                </div>
            </div>
            <div class="card-body">
                <h4 class="text-center">Danh sách sinh viên đăng ký học phần @Model.MaHP - @Model.tb_MonHoc.TenMH</h4>
                <h5 class="spec-1 text-center">Sỉ số: @Model.SiSo_HienTai/@Model.SiSo_ToiDa</h5>
            </div>
            <div class="card-header">
            </div>

            <div class="card-body">
                <h5 class="d-flex align-items-center mb-3"><b></b></h5>
                <div class="container mt-3 mb-5">
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-9">
                            <div id="dssv">
                                @Html.Action("DanhSachSV_Partial", new { id = Model.ID, type = 0 })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}



<script>
    function search() {
        var s = document.getElementById('search').value;
        var id = Number.parseInt(document.getElementById('id').value);
        const url = new URL('@Url.Action("DanhSachSV_Partial", "SinhVien")', location.origin);
        url.searchParams.set('id', id);
        url.searchParams.set('keyword', s)
        url.searchParams.set('type', 0)
        $('#dssv').load(url.href);
    }
    var searchBar = document.getElementById('search');
    searchBar.addEventListener("keypress", function (event) {
        // Sử dụng keyCode hoặc key để kiểm tra xem có phải là phím Enter không
        if (event.keyCode === 13 || event.key === "Enter") {
            search(); // Gọi hàm của bạn ở đây
        }
    });
</script>