<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                @*<li class="sidebar-item pt-2">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link " href="dashboard.html"
                       aria-expanded="false">
                        <i class="far fa-clock" aria-hidden="true"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>*@
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link @(ViewContext.RouteData.Values["controller"].ToString()=="Admin"?"active":"")" href="@Url.Action("Index", "Admin")"
                       aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="hide-menu">Thông tin cá nhân</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link @(ViewContext.RouteData.Values["controller"].ToString()=="QuanLyGiangVien"?"active":"")" href="@Url.Action("Index", "QuanLyGiangVien")"
                       aria-expanded="false">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="hide-menu">Quản lý giảng viên</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link @(ViewContext.RouteData.Values["controller"].ToString()=="QuanLySinhVien"?"active":"")" href="@Url.Action("Index", "QuanLySinhVien")"
                       aria-expanded="false">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <span class="hide-menu">Quản lý sinh viên</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link @(ViewContext.RouteData.Values["controller"].ToString()=="QuanLyHocPhan"?"active":"")" href="@Url.Action("Index", "QuanLyHocPhan")"
                       aria-expanded="false">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                        <span class="hide-menu">Quản lý học phần</span>
                    </a>
                </li>
                @*<li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link @(ViewContext.RouteData.Values["controller"].ToString()=="QuanLyDiem"?"active":"")" href="@Url.Action("Index", "QuanLyDiem")"
                       aria-expanded="false">
                        <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                        <span class="hide-menu">Quản lý điểm</span>
                    </a>
                </li>*@
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link @(ViewContext.RouteData.Values["controller"].ToString()=="QuanLyRenLuyen"?"active":"")" href="@Url.Action("Index", "QuanLyRenLuyen")"
                       aria-expanded="false">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <span class="hide-menu">Quản lý rèn luyện</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link @(ViewContext.RouteData.Values["controller"].ToString()=="ThongKe"?"active":"")" href="@Url.Action("Index", "ThongKe")"
                       aria-expanded="false">
                        <i class="fa fa-chart-bar" aria-hidden="true"></i>
                        <span class="hide-menu">Thống kê</span>
                    </a>
                </li>
                @*<li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="basic-table.html"
               aria-expanded="false">
                <i class="fa fa-table" aria-hidden="true"></i>
                <span class="hide-menu">Basic Table</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="fontawesome.html"
               aria-expanded="false">
                <i class="fa fa-font" aria-hidden="true"></i>
                <span class="hide-menu">Icon</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="map-google.html"
               aria-expanded="false">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <span class="hide-menu">Google Map</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="blank.html"
               aria-expanded="false">
                <i class="fa fa-columns" aria-hidden="true"></i>
                <span class="hide-menu">Blank Page</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="404.html"
               aria-expanded="false">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <span class="hide-menu">Error 404</span>
            </a>
        </li>
        <li class="text-center p-20 upgrade-btn">
            <a href="https://www.wrappixel.com/templates/ampleadmin/"
               class="btn d-grid btn-danger text-white" target="_blank">
                Upgrade to Pro
            </a>
        </li>*@
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
